
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #acacac;
    margin: 100;
    padding: 0;
}

center {
    text-align: center;
    margin-top: 20px;
}

h1 {
    color: #000;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    border-radius: 20%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #000;
    text-decoration: underline;
    
}

p {
    color: #000;
    margin: 2%;
    padding-left: 1%;
}

table {
    margin: 20px;
    border-collapse: solid;
    width: 60%;
    border: 3px solid #0f0d0d;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #020202;
}

ol {
    list-style-type: decimal;
    color: #000;
    margin-left: 20px;
    padding-left: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.contact-list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contact-item {
    margin: 0 20px;
    text-align: center;
}

.contact-item img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}
