*{
    margin: 0;
    padding: 0;
}

.navigasi {
    background-color: #3b4997;
    width: 100%;
    height: 70px;
    padding-right: 10px;
}
.judul{
    padding-top: 5px;
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.menu {
    margin-left: 40%;
    padding-top: 5px;
    padding-left : 10px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.menu ul li{
    list-style: none;
    display: inline;
    margin-right: 20px;
    position: solid ;
}
.menu ul li a{
    text-decoration: none;
    color: white;

}
.menu ul li a:hover{
    color: lightblue;
    font-style: italic;
}
.banner{
    padding-top: 70px;
    padding-left: 20px;
    background-color: #3b6499;
    text-align: center;
    height: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-decoration: solid;
    width: 100%;
}

.banner img {
    width: 300px;
    border-radius: 20%;
    border: 6px solid white;
    box-shadow: 0 0 40px rgba(1, 1, 1, 10);
    margin-top: 30px;
}
.banner h1{
    padding-top: 10px;
}
.banner h2{
    padding-top: 10px;
}
.banner button{
    margin-top: 70px;
    padding: 10px;
    width: 400px;
    border-radius: 50px;
    border: none;
    color: black;
    font-size:large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.banner button:hover{
    background-color: #3b6499;
    border: 1px solid white;
    color: white;
}

.profil { 
    padding-left: 5%;
    padding-top: 70px;
    padding-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: white;
    background-color: #3b6499;
    width: 96%;
}

.table {
    margin-left: 20%;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(1, 1, 1, 10);
}
.table:hover{
    background-color: whitesmoke;
    color: black;
}


table {
    margin: 20px;
    border-collapse: solid;
    width: 60%;
    border: 3px solid #0f0d0d;
}

td {
    padding: 12px;
    text-align: left;
    border: 1px solid #020202;
}

.pendidikan {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;
    align-content: center;
    margin-left: 50px;
    text-decoration: solid;
}

.sma{
    width: 300px;
    height: 320px;
    text-align: center;
    padding-top: 30px;
    margin-top: 100px;
    margin-right: 20px;
    margin-left: 20%;
    float:left;
    border-radius: 10px;
    
}

.kuliah{
    width: 300px;
    height: 320px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 7px;
    margin-top: 70px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20%;
    float:left;
    border-radius: 10px;

}

.sma:hover, .kuliah:hover {
    background-color: #3b6499;
    color: white;
}

.pengalaman {
    margin-top: 35%;
    text-align: center;
    margin-left: 55px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: solid;
}

.kotak {
    margin-top: 50px;
    margin-left: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: solid;
    box-shadow: 0 0 30px rgba(1, 1, 1, 10);
}

.kotak:hover {
    background-color: #3b6499;
    color: white;
}
.kontak {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;
    text-decoration: solid;
    
}

.instagram{
    padding-top: 30px;
    padding-bottom: 30px;
}
.whatsapp {
    padding-top: 30px;
    padding-bottom: 30px;
}
.gmail{
    padding-top: 30px;
    padding-bottom: 30px;
}

